#### 공공자전거
- 서울시 공공자전거 이용정보(시간대별)
- 서울시 공공자전거 대여소 정보
- 서울시 공공자전거 대여소별 이용정보

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

# 한글설정
# plt.rcParams["font.family"] = "Malgun Gothic"
# - 설정
# plt.rcParams["axes.unicode_minus"] = False
import koreanize_matplotlib

import warnings
warnings.simplefilter(action="ignore")

In [2]:
# 대여소 정보.xlsx
bike_df1 = pd.read_excel("./resources/대여소 정보.xlsx", skiprows=4, sheet_name="대여소현황")
bike_df1.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,301,경복궁역 7번출구 앞,종로구,서울특별시 종로구 사직로 지하130 경복궁역 7번출구 앞,37.575794,126.971451,2015-10-07 12:03:46,20.0,20.0,QR
1,302,경복궁역 4번출구 뒤,종로구,서울특별시 종로구 사직로 지하130 경복궁역 4번출구 뒤,37.575947,126.974060,2015-10-07 12:04:22,12.0,12.0,QR
2,303,광화문역 1번출구 앞,종로구,서울특별시 종로구 세종대로 지하189 세종로공원,37.571770,126.974663,2015-10-07 00:00:00,8.0,8.0,QR
3,305,종로구청 옆,종로구,서울특별시 종로구 세종로 84-1,37.572559,126.978333,2015-01-07 00:00:00,16.0,16.0,QR
4,307,서울역사박물관 앞,종로구,서울특별시 종로구 새문안로 55 서울역사박물관 앞,37.570000,126.971100,2015-10-07 12:09:09,11.0,11.0,QR

In [9]:
# 시간대별 이용정보.csv
bike_df2 = pd.read_csv("./resources/시간대별 이용정보.csv", encoding="cp949")
bike_df2.head()

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리(M),이용시간(분)
0,2024-12-01,0,1442,1442. 중랑구청 중화동 별관 앞,정기권,NaN,~10대,1,105.32,0.66,2829.30,18
1,2024-12-01,0,2728,2728.마곡나루역 3번 출구,정기권,NaN,~10대,1,22.45,0.25,1090.00,7
2,2024-12-01,0,1023,1023. 한국종합기술사옥 앞,정기권,NaN,20대,1,148.31,0.87,3745.23,21
3,2024-12-01,0,1150,1150. 송정역 1번출구,정기권,NaN,20대,1,24.01,0.19,808.44,6
4,2024-12-01,0,1260,1260. 방이동 한양3차아파트 옆,정기권,NaN,20대,1,92.85,0.94,4042.55,35

In [10]:
# 대여소별 이용정보.csv
bike_df3 = pd.read_csv("./resources/대여소별 이용정보.csv", encoding="cp949")
bike_df3.head()

   자치구               대여소명    기준년월  대여건수  반납건수
0  마포구       108. 서교동 사거리  202407  1597  1609
1  양천구   729. 서부식자재마트 건너편  202407  1932  2113
2  양천구  731. 서울시 도로환경관리센터  202407  3580  3698
3  양천구         732. 신월중학교  202407   865   865
4  양천구   733. 신정이펜하우스314동  202407   587   401

In [21]:
#bike_df1 columns
bike_df1.columns = ["대여소번호","대여소명","자치구","상세주소","위도","경도","설치시기","거치대수lcd","거치대수qr","운영방식"]

In [22]:
bike_df1.head()

,대여소번호,대여소명,자치구,상세주소,위도,경도,설치시기,거치대수lcd,거치대수qr,운영방식
0,301,경복궁역 7번출구 앞,종로구,서울특별시 종로구 사직로 지하130 경복궁역 7번출구 앞,37.575794,126.971451,2015-10-07 12:03:46,20.0,20.0,QR
1,302,경복궁역 4번출구 뒤,종로구,서울특별시 종로구 사직로 지하130 경복궁역 4번출구 뒤,37.575947,126.974060,2015-10-07 12:04:22,12.0,12.0,QR
2,303,광화문역 1번출구 앞,종로구,서울특별시 종로구 세종대로 지하189 세종로공원,37.571770,126.974663,2015-10-07 00:00:00,8.0,8.0,QR
3,305,종로구청 옆,종로구,서울특별시 종로구 세종로 84-1,37.572559,126.978333,2015-01-07 00:00:00,16.0,16.0,QR
4,307,서울역사박물관 앞,종로구,서울특별시 종로구 새문안로 55 서울역사박물관 앞,37.570000,126.971100,2015-10-07 12:09:09,11.0,11.0,QR

#### 데이터 탐색
    - info()
    - describe()
    - shape

In [15]:
bike_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2766 entries, 0 to 2765
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   대여소 번호    2766 non-null   int64
 1   대여소 명     2766 non-null   object
 2   자치구       2766 non-null   object
 3   상세주소      2766 non-null   object
 4   위도        2766 non-null   float64
 5   경도        2766 non-null   float64
 6   설치시기      2766 non-null   datetime64[ns]
 7   거치대수 lcd  1419 non-null   float64
 8   거치대수 qr   1688 non-null   float64
 9   운영방식      2766 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(1), object(4)
memory usage: 216.2+ KB

In [17]:
bike_df1.shape

(2766, 10)

In [20]:
bike_df2.shape
bike_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2126133 entries, 0 to 2126132
Data columns (total 12 columns):
 #   Column   Dtype
---  ------   -----
 0   대여일자     object
 1   대여시간     int64
 2   대여소번호    int64
 3   대여소명     object
 4   대여구분코드   object
 5   성별       object
 6   연령대코드    object
 7   이용건수     int64
 8   운동량      object
 9   탄소량      object
 10  이동거리(M)  float64
 11  이용시간(분)  int64
dtypes: float64(1), int64(4), object(7)
memory usage: 194.7+ MB

In [19]:
bike_df3.shape

(13670, 5)

#### 데이터 전처리
- 컬럼명 변경
- 필요없는 컬럼 제거
- 데이터 타입 변경

In [24]:
# 컬럼제거 : 상세주소, 위도, 경도
bike_df1.drop(columns=["상세주소", "위도", "경도"], inplace=True)

In [26]:
# bike_df1 NaN 처리
# 동일한 값으로 채우기 : fillna()

# isna() or isnull()

# 컬럼별 NaN 개수 확인
bike_df1.isna().sum()

대여소번호         0
대여소명          0
자치구           0
설치시기          0
거치대수lcd    1347
거치대수qr     1078
운영방식          0
dtype: int64

In [ ]:
# bike_df1["거치대수lcd"] = bike_df1["거치대수lcd"].fillna(0)

bike_df1["거치대수lcd"].fillna(0, inplace=True)
bike_df1["거치대수qr"].fillna(0, inplace=True)

In [30]:
bike_df1.isna().sum()

대여소번호      0
대여소명       0
자치구        0
설치시기       0
거치대수lcd    0
거치대수qr     0
운영방식       0
dtype: int64

In [31]:
bike_df1["대여소번호"].dtype

dtype('int64')

In [32]:
# df 전체 데이터 타입 조회
bike_df1.dtypes

대여소번호               int64
대여소명               object
자치구                object
설치시기       datetime64[ns]
거치대수lcd           float64
거치대수qr            float64
운영방식               object
dtype: object

In [33]:
# 타입변환 - astype(), pd.to_numeric()

bike_df1["대여소번호"].astype(object)

0        301
1        302
2        303
3        305
4        307
        ...
2761    4954
2762    4956
2763    4957
2764    4958
2765    4959
Name: 대여소번호, Length: 2766, dtype: object

In [34]:
bike_df1["대여소번호"].dtype

dtype('int64')

In [38]:
# 대여소명 : 숫자와 문자 분리 (1442. 중랑구청 중화동 별관 앞)

# bike_df2["대여소명"].dtype

bike_df2["대여소번호"]=bike_df2["대여소명"].str.split(".",expand=True)[0]
bike_df2["대여소명_new"]=bike_df2["대여소명"].str.split(".",expand=True)[1]

In [42]:
bike_df3.head()

   자치구               대여소명    기준년월  대여건수  반납건수
0  마포구       108. 서교동 사거리  202407  1597  1609
1  양천구   729. 서부식자재마트 건너편  202407  1932  2113
2  양천구  731. 서울시 도로환경관리센터  202407  3580  3698
3  양천구         732. 신월중학교  202407   865   865
4  양천구   733. 신정이펜하우스314동  202407   587   401

In [43]:
# 대여소명 분리
bike_df3["대여소번호"]=bike_df3["대여소명"].str.split(".",expand=True)[0]
bike_df3["대여소명_new"]=bike_df3["대여소명"].str.split(".",expand=True)[1]

In [47]:
bike_df3[bike_df3["대여소명_new"].isna()]

      자치구  대여소명    기준년월  대여건수  반납건수 대여소번호 대여소명_new
6675  성동구  AS센터  202409     3     2  AS센터     None
9409  성동구  AS센터  202410     3     2  AS센터     None

In [48]:
# bike_df3 None 행 제거

bike_df3.dropna(subset="대여소명_new",inplace=True)

In [49]:
bike_df3[bike_df3["대여소명_new"].isna()]

Empty DataFrame
Columns: [자치구, 대여소명, 기준년월, 대여건수, 반납건수, 대여소번호, 대여소명_new]
Index: []

In [51]:
# 성별의 구성값 : NaN, 'F', 'M', 'f', 'm'

bike_df2["성별"].unique()
bike_df2["성별"].value_counts()

성별
M    1050807
F     523055
m        232
f        174
Name: count, dtype: int64

In [52]:
# m => M , f => F

bike_df2.loc[(bike_df2["성별"] == 'm'), "성별"] = "M"
bike_df2.loc[(bike_df2["성별"] == 'f'), "성별"] = "F"

In [54]:
bike_df2["성별"].unique()

array([nan, 'F', 'M'], dtype=object)

In [55]:
# nan 개수 세기
bike_df2["성별"].isna().sum()

np.int64(551865)

In [58]:
bike_df2["탄소량"]

0          0.66
1          0.25
2          0.87
3          0.19
4          0.94
           ...
2126128    1.05
2126129    0.00
2126130    0.16
2126131    0.36
2126132    0.15
Name: 탄소량, Length: 2126133, dtype: object

In [59]:
# 운동량, 탄소량 데이터 타입 변환 float64

# ValueError: could not convert string to float: '\\N'
# bike_df2["탄소량"].astype("float64")

In [60]:
# \N => -1 변경

bike_df2.loc[(bike_df2["탄소량"] == r'\N'), "탄소량"] = -1
bike_df2.loc[(bike_df2["운동량"] == r'\N'), "운동량"] = -1

In [63]:
bike_df2["탄소량"]=bike_df2["탄소량"].astype("float64")
bike_df2["운동량"]=bike_df2["운동량"].astype("float64")

In [64]:
bike_df2.dtypes

대여일자         object
대여시간          int64
대여소번호        object
대여소명         object
대여구분코드       object
성별           object
연령대코드        object
이용건수          int64
운동량         float64
탄소량         float64
이동거리(M)     float64
이용시간(분)       int64
대여소명_new     object
dtype: object

In [67]:
# 대여일자(object) => datetime

bike_df2["대여일자"]=pd.to_datetime(bike_df2["대여일자"])

In [68]:
print(bike_df2["대여일자"].dtype)

datetime64[ns]

#### 데이터 분석
- 이동거리 / 평균 사용시간이 높은 대여소는?
- 운동량과 이동거리의 상관관계는?
- 따릉이를 가장 많이 사용하는 성별은?
- 서울시 구별 설치 거치대 개수는?
- 서울시 구별 거치대 개수와 대여건수?